<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Packages CSS -->
    <link href="../packages/bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../packages/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../packages/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="../packages/fontawesome-free-5.15.3-web/css/all.min.css" rel="stylesheet">


    <!-- My CSS -->
    <link href="../css/GLOBAL_Configs.css" rel="stylesheet">
    <link href="../css/GLOBAL_ELEMENTS.css" rel="stylesheet">
    <link href="../css/Custome_Components.css" rel="stylesheet">
    <link href="../css/editProfile_screen.css" rel="stylesheet">


    <title>GAD</title>
  </head>

  <body  lang="en" class="body">
      

<div class="page">



<!-- Start NavBar Section --------------------------------------->
<div class="sectionNavBar wrapContent" >

    <div class="container-fluid">
        <div class="row justify-content-between">
            
            <div class="col rightsidemenu">
                <div class="menus">
                    <ul>
                        <li style="padding: 0;">
    
                            <a type="button" class="s6 position-relative avatar"  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" >
                                <img style="width: 40px;height: 40px;border-radius: 50px;" src="https://cdn2.iconfinder.com/data/icons/flatfaces-everyday-people-square/128/beard_male_man_face_avatar-512.png" /> <span class="position-absolute bottom-0 end-0  translate-bottom badge rounded-pill " style="background-color:  var(--secondryColor);">
                           
                              <i class="fas fa-caret-down"></i> 
                              </span>               
                            
                            </a>
                        
                            <div id="customPopover" style="display: none;">
    
                                <ul>
    <li><a href="#" >My Profile</a></li>
    <li><a href="#">Edit Profile</a></li>
    
    <hr style="border-top: 3px dotted white;"/>
    
    <li><a href="#">My Account</a></li>
    <li><a href="../screens/login-screen.html">SignOut</a></li>
    
                                </ul>
    
    
                            </div>
                            
        
                        
                        </li>
                        
                        <li>|</li>
                        
                        <li><a href="#" class="s6"> Home </a></li>
                        <li><a href="" class="s6"> Contact Us </a></li>
                        <li><a href="#" class="s6">Terms And Conditions</a></li>
                
                    </ul>
                </div>
                
                        </div>
                     
                        <div class="col rightsidemenumobile">
                    
                            <div class="mobile-meun">
                        
                                <div class="menu-button">
                                  <div class="menu-button-line"></div>
                                  <div class="menu-button-line"></div>
                                  <div class="menu-button-line"></div>
                                </div>
                              
                          </div>
                        
                        
                        
                        </div>
            <div class="col leftside" >
                <img class="logo" src="../assets/icons/logo.png"/>
            </div>
          
            
        </div>
      
    </div>
    
    
    
    
    </div>
    
      <div class="menu" > <!--Mobile Menus -->
            <ul class="menu-nav">
                <ul>
                    <li><a href="#" class="s4">Home </a></li>
                    <li><a href="#" class="s4">Contact Us</a></li>
                    <li><a href="#" class="s4">Terms And Condtions</a></li>
                    
                    <li><a href="" class="s4">Profile</a></li>
                    <li><a href="#" class="s4">Edit Profile</a></li>
    
                    <li><a href="#" class="s4">My Account</a></li>
                    <li><a href="../screens/login-screen.html" class="s4">SignOut</a></li>
    
                </ul>
            </ul>
    </div>
    
    <!-- End NavBar Section --------------------------------------->
        
    
    <!-- Start Form Section --------------------------------------->


    <div class="formEditProfile wrapContent">


<ul>
    <li>

        <div id="profile-container">
            
        <image id="profileImage" src="http://lorempixel.com/100/100" />
     </div>
     <input id="imageUpload" type="file" 
            name="profile_photo" placeholder="Photo" required="" capture>
     </li>

     <li style="text-align: center;">Select  Cover</li>


</ul>

<ul>


    <li>
        
      <div class="myTextField">

        <div>
            <div class="field-container">
              <input class="field-input" id="inputid" name="inputName" type="text" placeholder=" ">
              <label class="field-placeholder" for="inputName">Name Of Profile</label>
            </div>
          </div>
          
    </div>

    </li>
<br>
    <li>
   
      <div class="myTextArea">
        <div class="js-form" style="width: 100%;">
          <fieldset>
            <textarea id="textarea-1" class="js-character-count" maxlength="100" aria-describedby="textarea-info-1" placeholder="Describe yourself here..."></textarea>
            <p id="textarea-info-1" class="field-text field-text--character-count js-field-text" aria-live="polite" >100 maximum characters</p>
          </fieldset>
        </div>
      
    </div>
    

          
    </li>
    <br>
    <li>
   
      <div class="myTextArea">
        <div class="js-form" style="width: 100%;">
          <fieldset>
            <textarea id="textarea-1" class="js-character-count" maxlength="100" aria-describedby="textarea-info-1" placeholder="Describe your education..."></textarea>
            <p id="textarea-info-1" class="field-text field-text--character-count js-field-text" aria-live="polite" >100 maximum characters</p>
          </fieldset>
        </div>
      
    </div>
    

          
    </li>
    <br>
    <li>
      <div class="myTextField">
    
        <div>
            <div class="field-container">
              <input class="field-input" id="inputid" name="inputName" type="text"  placeholder=" ">
              <label class="field-placeholder" for="inputName">Phone Number</label>
            </div>
          </div>
          
    </div>
    
    </li>
    
    <br>


<li>
  <div class="myTextField">

    <div>
        <div class="field-container">
          <input class="field-input" id="inputid" name="inputName" type="text"  placeholder=" ">
          <label class="field-placeholder" for="inputName">Your Address</label>
        </div>
      </div>
      
</div>

</li>
<br>

<li>
    
    <div class="teacher-map   tab-pane fade show active" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab"> 
        
        <label  class="form-label">Select Your Location On Map</label>

        <div class="wrapContent" id="map"></div>
    
    
    
    
    
    </div>

</li>
<br>



<li>
  <div class=" ">
      <label for="exampleFormControlTextarea1" class="form-label">Kind Person</label> 

      <div class="form-check myRadioButton">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Teacher
        </label>
      </div>

        <div class="form-check myRadioButton">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
      <label class="form-check-label" for="flexRadioDefault2">
        Center
      </label>
    </div>
        
  </div>

</li>
<br>
<li>
    <div class="educationalStages_checksBoxs">

        <p > Educational Stages</p>
<div class="lables">

  <div class="form-check myCheckBox">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Default checkbox
    </label>
  </div>

  <div class="form-check myCheckBox">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
    <label class="form-check-label" for="flexCheckDefault">
      Default checkbox
    </label>
  </div>

  <div class="form-check myCheckBox">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Default checkbox
    </label>
  </div>

  <div class="form-check myCheckBox">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Default checkbox
    </label>
  </div>

  <div class="form-check myCheckBox">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Default checkbox
    </label>
  </div>

  <div class="form-check myCheckBox">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Default checkbox
    </label>
  </div>

</div>
       
          


    </div>
   
</li>
<br>


<li>
    <div class="specializedMaterials_checksBoxs checkboxs has-validation" >
        <p> Specialized materials </p>

       
        <div class="lables is-invalid" aria-describedby=" validationServerUsernameFeedback" required>
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
  
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
  
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
  
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
  
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
  
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
  
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
  
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
  
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
  
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
  
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>

          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
  
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
  
          <div class="form-check myCheckBox">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
        </div>
        

    

    </div>
    
</li>
<br>

<li>
    <div class="btnEdit">

        <a href="#" class="btn">Add Profile</a>

    </div>
</li>
</ul>




    </div>

    <!-- End Form Section --------------------------------------->










<!-- Start Footer Section --------------------------------------->

<div class="sectionFooter">

    <div class="container-fluid wrapContent">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="title s5">Payments Methods</div>
                <ul>
                    <li><img src="../assets/icons/master-card-icon-13.jpg"/></li>
                    <li><img src="../assets/icons/master-card-icon-13.jpg"/></li>
                    <li><img src="../assets/icons/master-card-icon-13.jpg"/></li>
                    <li><img src="../assets/icons/master-card-icon-13.jpg"/></li>
                </ul>
                <br>
                <br>
                <div class="title">Socials</div>
                <ul>
                    <li><img src="../assets/icons/fc0061da43b239899945b1e886faa80a.jpg"/></li>
                    <li><img src="../assets/icons/fc0061da43b239899945b1e886faa80a.jpg"/></li>
                    <li><img src="../assets/icons/fc0061da43b239899945b1e886faa80a.jpg"/></li>
                    <li><img src="../assets/icons/fc0061da43b239899945b1e886faa80a.jpg"/></li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <div class="links">
<ul>
    <li><a href="#">Support Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Terms And Conditions</a></li>
</ul>
                </div>
            </div>
        </div>
    </div>



</div>

<!-- End Footer Section --------------------------------------->



</div>




    <!-- packages js -->
    <script src="../packages/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../packages/jquery/jquery.js"></script>
    <script src="../packages/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhwUPb_bGJzGj0Wnj89dcnU5NZQhGx9jY&callback=initMap&libraries=&v=weekly"
    async
  ></script>

    <!-- my js -->
    <script src="../js/GLOBAL_Configs.js"></script>
    <script src="../js/GLOBAL_ELEMENTS.js"></script>
    <script src="../js/Custome_Components.js"></script>
    <script src="../js/addProfile_screen.js"></script>


  </body>
</html>