<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link href="../css/GLOBAL_Configs.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap" rel="stylesheet">
    <link href="../css/GLOBAL_ELEMENTS.css" rel="stylesheet">
    <link href="../packages/bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- My CSS -->
        <link href="../css/GLOBAL_Configs.css" rel="stylesheet">
        <link href="../css/Custome_Components.css" rel="stylesheet">

        <link href="../css/login-screen.css" rel="stylesheet">
</head>

<body>

    <!--  myDropDown   -->
<br>
<br>
<br>
    <div class="dropdown myDropDown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown 
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      


    <br>
    <br>
    <br>



    <!--  myCheckBox   -->
    <div class="form-check myCheckBox">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
      </div>
      <br>
      <div class="form-check myCheckBox">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Checked checkbox
        </label>
      </div>
      
      
      <br>
      <br>
      <br>
    <!--  myRadioButton   -->

    <div class="form-check myRadioButton">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Default radio
        </label>
      </div>
      <div class="form-check myRadioButton">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Default checked radio
        </label>
      </div>



<!-- myTextField-->
<div class="myTextField">

    <div>
        <div class="field-container">
          <input class="field-input" id="inputid" name="inputName" type="text" placeholder=" ">
          <label class="field-placeholder" for="inputName">First name</label>
        </div>
      </div>
      
</div>
   
<!-- myTextArea-->
<div class="myTextArea">
    <div class="js-form" style="width: 50%;">
      <fieldset>
        <textarea id="textarea-1" class="js-character-count" maxlength="100" aria-describedby="textarea-info-1">your Personal Bio</textarea>
        <p id="textarea-info-1" class="field-text field-text--character-count js-field-text" aria-live="polite" >100 maximum characters</p>
      </fieldset>
    </div>
  
</div>





    <!-- packages js -->
    <script src="../packages/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../packages/jquery/jquery.js"></script>

    <!-- my js -->

    <script src="../js/Custome_Components.js"></script>



</body>
</html>



  