<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Packages CSS -->
    <link href="../packages/bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../packages/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../packages/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="../packages/fontawesome-free-5.15.3-web/css/all.min.css" rel="stylesheet">


    <!-- My CSS -->
    <link href="../css/GLOBAL_Configs.css" rel="stylesheet">
    <link href="../css/GLOBAL_ELEMENTS.css" rel="stylesheet">
    <link href="../css/Custome_Components.css" rel="stylesheet">
        <link href="../css/home_Screen.css" rel="stylesheet">


    <title>GAD</title>
  </head>

  <body dir="rtl" lang="en" class="body">
      

<div class="page">


<!-- Start NavBar Section --------------------------------------->
<div class="sectionNavBar wrapContent" >

<div class="container-fluid">
    <div class="row justify-content-between">
        
        <div class="col rightsidemenu">
            <div class="menus">
                <ul>
                    <li style="padding: 0;">

                        <a type="button" class="s6 position-relative avatar"  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" >
                            <img style="width: 40px;height: 40px;border-radius: 50px;" src="https://cdn2.iconfinder.com/data/icons/flatfaces-everyday-people-square/128/beard_male_man_face_avatar-512.png" /> <span class="position-absolute bottom-0 end-0  translate-bottom badge rounded-pill " style="background-color:  var(--secondryColor);">
                       
                          <i class="fas fa-caret-down"></i> 
                          </span>               
                        
                        </a>
                    
                        <div id="customPopover" style="display: none;">

                            <ul>
<li><a href="#" >My Profile</a></li>
<li><a href="./editProfile_screen.html">Edit Profile</a></li>

<hr style="border-top: 3px dotted white;"/>

<li><a href="#">My Account</a></li>
<li><a href="../screens/login-screen.html">SignOut</a></li>

                            </ul>


                        </div>
                        
    
                    
                    </li>
                    
                    <li>|</li>
                    
                    <li><a href="#" class="s6"> Home </a></li>
                    <li><a href="" class="s6"> Contact Us </a></li>
                    <li><a href="#" class="s6">Terms And Conditions</a></li>
            
                </ul>
            </div>
            
                    </div>
                 
                    <div class="col rightsidemenumobile">
                
                        <div class="mobile-meun">
                    
                            <div class="menu-button">
                              <div class="menu-button-line"></div>
                              <div class="menu-button-line"></div>
                              <div class="menu-button-line"></div>
                            </div>
                          
                      </div>
                    
                    
                    
                    </div>
        <div class="col leftside" >
            <img class="logo" src="../assets/icons/logo.png"/>
        </div>
      
        
    </div>
  
</div>




</div>

  <div class="menu" > <!--Mobile Menus -->
        <ul class="menu-nav">
            <ul>
                <li><a href="#" class="s4">Home </a></li>
                <li><a href="#" class="s4">Contact Us</a></li>
                <li><a href="#" class="s4">Terms And Condtions</a></li>
                <hr style="border-top: 3px dotted white;"/>
                <li><a href="" class="s4">Profile</a></li>
                <li><a href="./profile_Screen.html" class="s4">Edit Profile</a></li>

                <li><a href="#" class="s4">My Account</a></li>
                <li><a href="../screens/login-screen.html" class="s4">SignOut</a></li>

            </ul>
        </ul>
</div>

<!-- End NavBar Section --------------------------------------->

<!-- Start Search Section --------------------------------------->

<div class="sectionSearch wrapContent">

    <div class="sectionSearchBar">
        <ul>
            <li class="title s4"><p>Advanced Search</p> </li>
            <li>
                <div class="dropdown myDropDown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                     Country
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Egypt</a></li>
                      <li><a class="dropdown-item" href="#">Emarites</a></li>
                      <li><a class="dropdown-item" href="#">Courses</a></li>
                    </ul>
                  </div>
                  
            </li>  
            <li>
                <div class="dropdown myDropDown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Profile Kind 
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Teacher</a></li>
                      <li><a class="dropdown-item" href="#">Center</a></li>
                      <li><a class="dropdown-item" href="#">Courses</a></li>
                    </ul>
                  </div>
                  
            </li>  
             <li>
                <div class="dropdown myDropDown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Profile Kind 
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Teacher</a></li>
                      <li><a class="dropdown-item" href="#">Center</a></li>
                      <li><a class="dropdown-item" href="#">Courses</a></li>
                    </ul>
                  </div>
                  
            </li>
            <li>
                <div class="dropdown myDropDown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Profile Kind 
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Teacher</a></li>
                      <li><a class="dropdown-item" href="#">Center</a></li>
                      <li><a class="dropdown-item" href="#">Courses</a></li>
                    </ul>
                  </div>
                  
            </li>
        
        </ul>
    </div>


</div>


<!-- End Search Section --------------------------------------->


<!-- Start TabBar Section --------------------------------------->

<div class="sectionTaps">

    <ul class="nav mb-3" id="pills-tab" role="tablist">
        <li class="" role="presentation">
            <a href="#" class="activeSelect active"  id="pills-map-tab" data-bs-toggle="tab" data-bs-target="#pills-map" type="button" role="tab" aria-controls="pills-map" aria-selected="true"><i class="fas fa-map-marked-alt"></i>  Map  </a>
        </li>
        <li><i class="fas fa-atom" style="color: white;padding: 10px;"></i></li>
        <li class="" role="presentation">
            <a href="#" id="pills-cards-tab" data-bs-toggle="tab" data-bs-target="#pills-cards" type="button" role="tab" aria-controls="pills-cards" aria-selected="false"><i class="fas fa-address-card"></i>  Cards  </a>
        </li>
      </ul>







</div>



<!-- End TabBar Section --------------------------------------->




<!-- Start CardsAndMap Section --------------------------------------->


<div class="sectionTeachers ">
    <div class="search-arrange wrapContent" >
        <ul>
            <li>
                <div class="dropdown myDropDown " id="orderBy">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Order-By <i class="fas fa-sort"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Teacher</a></li>
                      <li><a class="dropdown-item" href="#">Center</a></li>
                      <li><a class="dropdown-item" href="#">Courses</a></li>
                    </ul>
                  </div>

        
            </li>
            <li><input class="input-textfield s7" type="text" placeholder="Search By Names...">
            </li>
        </ul>
    </div>

    <div class="tab-content"  id="pills-tabContent">
    <div class="teacher-cards tab-pane fade" id="pills-cards" role="tabpanel" aria-labelledby="pills-cards-tab">



<div class="cards-container wrapContent">

    <div class="container-fluid">
        <div class="row justify-content-around">


            <div class="col-lg-4 col-12">
                <div class='square'>
                    <div class="card-headerr">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <img src="https://www.albany.edu/sites/default/files/styles/person_page_thumbnail/public/2019-09/person2019.jpg?h=40273eea&itok=pnSLqvx3"/>
                                </div>
                             
                                <div class="col-6">
                                    <p class="s6">Sherif Nabil Abu.elezz</p>
                                    <span class="s6">Teacher</span>

                                    <div class="stars">
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        
                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                 
                    
                    </div>
                    <hr>
<div class="card-contentt">

<ul>
    <li>Scientific Articles</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>
      </ol>
      
</ul>
<ul>
    <li>Educational Stages</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>

      </ol>
      
</ul>
</div>

<div class="more">
    <a href="./profile_Screen.html" class="btn more-btn" >More</a>
</div>
                </div>

                  
            </div>   
           

            <div class="col-lg-4 col-12">
                <div class='square'>
                    <div class="card-headerr">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <img src="https://www.albany.edu/sites/default/files/styles/person_page_thumbnail/public/2019-09/person2019.jpg?h=40273eea&itok=pnSLqvx3"/>
                                </div>
                             
                                <div class="col-6">
                                    <p class="s6">Sherif Nabil Abu.elezz</p>
                                    <span class="s6">Teacher</span>

                                    <div class="stars">
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        
                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                 
                    
                    </div>
                    <hr>
<div class="card-contentt">

<ul>
    <li>Scientific Articles</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>
      </ol>
      
</ul>
<ul>
    <li>Educational Stages</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>

      </ol>
      
</ul>
</div>

<div class="more">
    <a href="#" class="btn more-btn" >More</a>
</div>
                </div>

                  
            </div>  
            
            <div class="col-lg-4 col-12">
                <div class='square'>
                    <div class="card-headerr">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <img src="https://www.albany.edu/sites/default/files/styles/person_page_thumbnail/public/2019-09/person2019.jpg?h=40273eea&itok=pnSLqvx3"/>
                                </div>
                             
                                <div class="col-6">
                                    <p class="s6">Sherif Nabil Abu.elezz</p>
                                    <span class="s6">Teacher</span>

                                    <div class="stars">
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        
                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                 
                    
                    </div>
                    <hr>
<div class="card-contentt">

<ul>
    <li>Scientific Articles</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>
      </ol>
      
</ul>
<ul>
    <li>Educational Stages</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>

      </ol>
      
</ul>
</div>

<div class="more">
    <a href="#" class="btn more-btn" >More</a>
</div>
                </div>

                  
            </div>  
            
            <div class="col-lg-4 col-12">
                <div class='square'>
                    <div class="card-headerr">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <img src="https://www.albany.edu/sites/default/files/styles/person_page_thumbnail/public/2019-09/person2019.jpg?h=40273eea&itok=pnSLqvx3"/>
                                </div>
                             
                                <div class="col-6">
                                    <p class="s6">Sherif Nabil Abu.elezz</p>
                                    <span class="s6">Teacher</span>

                                    <div class="stars">
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        
                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                 
                    
                    </div>
                    <hr>
<div class="card-contentt">

<ul>
    <li>Scientific Articles</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>
      </ol>
      
</ul>
<ul>
    <li>Educational Stages</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>

      </ol>
      
</ul>
</div>

<div class="more">
    <a href="#" class="btn more-btn" >More</a>
</div>
                </div>

                  
            </div>  
            
            <div class="col-lg-4 col-12">
                <div class='square'>
                    <div class="card-headerr">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <img src="https://www.albany.edu/sites/default/files/styles/person_page_thumbnail/public/2019-09/person2019.jpg?h=40273eea&itok=pnSLqvx3"/>
                                </div>
                             
                                <div class="col-6">
                                    <p class="s6">Sherif Nabil Abu.elezz</p>
                                    <span class="s6">Teacher</span>

                                    <div class="stars">
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        
                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                 
                    
                    </div>
                    <hr>
<div class="card-contentt">

<ul>
    <li>Scientific Articles</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>
      </ol>
      
</ul>
<ul>
    <li>Educational Stages</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>

      </ol>
      
</ul>
</div>

<div class="more">
    <a href="#" class="btn more-btn" >More</a>
</div>
                </div>

                  
            </div>  
            
            <div class="col-lg-4 col-12">
                <div class='square'>
                    <div class="card-headerr">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <img src="https://www.albany.edu/sites/default/files/styles/person_page_thumbnail/public/2019-09/person2019.jpg?h=40273eea&itok=pnSLqvx3"/>
                                </div>
                             
                                <div class="col-6">
                                    <p class="s6">Sherif Nabil Abu.elezz</p>
                                    <span class="s6">Teacher</span>

                                    <div class="stars">
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        
                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                 
                    
                    </div>
                    <hr>
<div class="card-contentt">

<ul>
    <li>Scientific Articles</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>
      </ol>
      
</ul>
<ul>
    <li>Educational Stages</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>

      </ol>
      
</ul>
</div>

<div class="more">
    <a href="#" class="btn more-btn" >More</a>
</div>
                </div>

                  
            </div>  
            
            <div class="col-lg-4 col-12">
                <div class='square'>
                    <div class="card-headerr">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <img src="https://www.albany.edu/sites/default/files/styles/person_page_thumbnail/public/2019-09/person2019.jpg?h=40273eea&itok=pnSLqvx3"/>
                                </div>
                             
                                <div class="col-6">
                                    <p class="s6">Sherif Nabil Abu.elezz</p>
                                    <span class="s6">Teacher</span>

                                    <div class="stars">
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        
                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                 
                    
                    </div>
                    <hr>
<div class="card-contentt">

<ul>
    <li>Scientific Articles</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>
      </ol>
      
</ul>
<ul>
    <li>Educational Stages</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>

      </ol>
      
</ul>
</div>

<div class="more">
    <a href="#" class="btn more-btn" >More</a>
</div>
                </div>

                  
            </div>  
            
            <div class="col-lg-4 col-12">
                <div class='square'>
                    <div class="card-headerr">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <img src="https://www.albany.edu/sites/default/files/styles/person_page_thumbnail/public/2019-09/person2019.jpg?h=40273eea&itok=pnSLqvx3"/>
                                </div>
                             
                                <div class="col-6">
                                    <p class="s6">Sherif Nabil Abu.elezz</p>
                                    <span class="s6">Teacher</span>

                                    <div class="stars">
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        
                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                 
                    
                    </div>
                    <hr>
<div class="card-contentt">

<ul>
    <li>Scientific Articles</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>
      </ol>
      
</ul>
<ul>
    <li>Educational Stages</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>

      </ol>
      
</ul>
</div>

<div class="more">
    <a href="#" class="btn more-btn" >More</a>
</div>
                </div>

                  
            </div>  
            
            <div class="col-lg-4 col-12">
                <div class='square'>
                    <div class="card-headerr">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <img src="https://www.albany.edu/sites/default/files/styles/person_page_thumbnail/public/2019-09/person2019.jpg?h=40273eea&itok=pnSLqvx3"/>
                                </div>
                             
                                <div class="col-6">
                                    <p class="s6">Sherif Nabil Abu.elezz</p>
                                    <span class="s6">Teacher</span>

                                    <div class="stars">
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star checked"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        
                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                 
                    
                    </div>
                    <hr>
<div class="card-contentt">

<ul>
    <li>Scientific Articles</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>
      </ol>
      
</ul>
<ul>
    <li>Educational Stages</li>
    <ol>
        <li>Section One</li>
        <li>Section Two </li>
        <li>Section Three </li>
        <li>Section Four</li>

      </ol>
      
</ul>
</div>

<div class="more">
    <a href="#" class="btn more-btn" >More</a>
</div>
                </div>

                  
            </div>  
                </div>

                  
            </div>   
        </div>

        <nav aria-label="Page navigation example"style="width: 150px;;margin: auto;background-color: red;" >
            <ul class="pagination" >
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    
    </div>



    <div class="teacher-map   tab-pane fade show active" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab"> 
        
    
        <div class="wrapContent" id="map"></div>
    
    
    
    
    
    </div>
</div>

      


</div>



<!-- Start Footer Section --------------------------------------->

<div class="sectionFooter">

    <div class="container-fluid wrapContent">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="title s5">Payments Methods</div>
                <ul>
                    <li><img src="https://www.csregypt.com/wp-content/uploads/2021/04/mastercard-1.png"/></li>
                    <li><img src="https://www.csregypt.com/wp-content/uploads/2021/04/mastercard-1.png"/></li>
                    <li><img src="https://www.csregypt.com/wp-content/uploads/2021/04/mastercard-1.png"/></li>
                    <li><img src="https://www.csregypt.com/wp-content/uploads/2021/04/mastercard-1.png"/></li>
                </ul>
                <br>
                <br>
                <div class="title">Socials</div>
                <ul>
                    <li><img src="../assets/icons/fc0061da43b239899945b1e886faa80a.jpg"/></li>
                    <li><img src="../assets/icons/fc0061da43b239899945b1e886faa80a.jpg"/></li>
                    <li><img src="../assets/icons/fc0061da43b239899945b1e886faa80a.jpg"/></li>
                    <li><img src="../assets/icons/fc0061da43b239899945b1e886faa80a.jpg"/></li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <div class="links">
<ul>
    <li><a href="#">Support Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Terms And Conditions</a></li>
</ul>
                </div>
            </div>
        </div>
    </div>



</div>

<!-- End Footer Section --------------------------------------->



</div>




    <!-- packages js -->
    <script src="../packages/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../packages/jquery/jquery.js"></script>
    <script src="../packages/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhwUPb_bGJzGj0Wnj89dcnU5NZQhGx9jY&callback=initMap&libraries=&v=weekly"
    async
  ></script>


    <!-- my js -->
    <script src="../js/GLOBAL_Configs.js"></script>
    <script src="../js/GLOBAL_ELEMENTS.js"></script>
    <script src="../js/Custome_Components.js"></script>
    <script src="../js/home_Screen.js"></script>


  </body>
</html>