  /*  checksBox Styles *******************************************************************************************************************/
  .myCheckBox{
    font-size: 14px;
  }
.myCheckBox input{
padding: 9px;
background-color: gray;
height: 2px;
margin-right: 5px;
}

.myCheckBox label{

margin-top: 5px;
}

  /*  RadioButtons Styles *******************************************************************************************************************/
  .myRadioButton{
    font-size: 14px;
  }

  .myRadioButton input{
    padding: 8px;
    background-color: gray;

  }
  
  .myRadioButton label{

   margin-top: 2px;
   margin-left: 5px;
  }






  /** DropDowns Style ***********************************************************************************************************/

  .myDropDown {
  }

.myDropDown button{
  width: auto;
  font-size: 10px;
  outline: none;
  border: none;
  padding: 10px 15px;
  
}




/** myTextField Style ******************************************************************************************************************/

.myTextField .field-container {
  position: relative;
  border: 1px solid #bcbaba;
  height: 50px;
  width: 100%;
  border-radius: 5px;
}

.myTextField .field-placeholder {
  position: absolute;
  top: 50%;
  left:  10px;
  transform: translate(5px, -50%);
  pointer-events: none;
  transition: all 0.14s ease-in-out;
  font-size: 18px;
  color: #adadad;
}

.myTextField input.field-input {
  color: #000;
  border: none;
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  bottom: 0px;
  background-color: transparent;
}

.myTextField input.field-input:focus {
  outline: none;
}


.myTextField input.field-input.c-fix, input.field-input:focus, input.field-input:not(:placeholder-shown) {
  border-color: transparent;
}
.myTextField input.field-input.c-fix ~ label, input.field-input:focus ~ label, input.field-input:not(:placeholder-shown) ~ label {
  color: #646669;
  font-size: 11px;
  top: calc(25% - .5rem);
  transform: translate(5px, 0%);
}
.myTextField input.field-input::-webkit-input-placeholder {
  color: transparent;
}
.myTextField input.field-input::-moz-placeholder {
  color: transparent;
}
.myTextField input.field-input:-ms-input-placeholder {
  color: transparent;
}



/** myTextArea Style ******************************************************************************************************************/




textarea {
  margin: 0;
  min-height: 120px;
  width: 100%;
  background-color: transparent;
  color: white;
  border-color: white;
  padding: 5px;
}
textarea::placeholder {
  color: var(--secondryColor);
}

.field-text {
  font-size: 0.875rem;
  margin: 0;
}

.field-text--character-count {
  text-align: right;
}








