





    
    
    
/* Start EditForm ******************************************************************************/

.formEditProfile{
   
    text-align: left;
    background-color: var(--primaryColor);
    color: white;
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
}

.formEditProfile ul{
    list-style-type: none;
    width: 60%;
    padding: 20px;
}
@media(min-width: 0px) and (max-width: 991px){ 

    .formEditProfile ul{
        list-style-type: none;
        width: 90%;
        padding: 10px 0px;

    }
    #map {
        height: 300px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
        margin: auto;
        border-radius: 20px;
        margin-bottom: 50px;
      }
  
}


      
 



    #imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
margin: auto;
}

#profile-container img {
    width: 120px;
    height: 120px;
}


.educationalStages_checksBoxs , .specializedMaterials_checksBoxs ,.kindPerson_checkBox ,.texfields{
    margin-top: 50px;

}



.educationalStages_checksBoxs .lables, .specializedMaterials_checksBoxs .lables{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.educationalStages_checksBoxs .lables label, .specializedMaterials_checksBoxs .lables label{
    margin: 5px;
    
}


[dir="rtl"] *{
    text-align: right;
}



.formEditProfile .btnEdit{
    margin-top: 50px;
   display: block;
   text-align: center;
}

/* Set the size of the div element that contains the map */
.teacher-map{
    margin-top: 50px;
}
#map {
    height: 300px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    margin: auto;
    border-radius: 20px;
    margin-bottom: 50px;
  }

  .myTextField .field-container{
      border-color: white;
  }
  .myTextField .field-container label{
      color: var(--secondryColor);
  }
.myTextField .field-container input{
    color: white;
}

.checkboxs label{
    margin-top: 0px;
}




/* End EditForm ******************************************************************************/


