

.body{
    overflow: hidden;
    overflow-y: scroll;
}


/* Navbar Styles **********************************************************************************/

.sectionNavBar{
  width: 100%;
  background-color: var(--primaryColor);
  height: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  z-index: 999;
  }
  
  .sectionNavBar .logo{
  height: 50px;
  border-radius: 50px;
  background-color: white;
  float: right;
  margin-top: 2px;
  }
  
  [dir="rtl"] .sectionNavBar .logo{
          float: left;
   }
          
  
  
  
  .sectionNavBar .menus ul{
      list-style-type: none;
      width: 100%;
  }
  
  .sectionNavBar .menus ul li{
      float: left;
      padding: 5px 5px;
  }
  [dir="rtl"] .sectionNavBar .menus ul li{
      float: right;
  }
  .sectionNavBar .menus ul li a{
      text-decoration: none;
      color: white;
      font-family: myFontsBold;
  }
  
  .sectionNavBar .menus ul li a:hover{
      color: var(--secondryColor);
  }
  
  .popover{
      background: var(--primaryColor);
  }
  .popover-body{
      color: white;
  }
  .popover-body  ul{
      list-style-type: none;
      padding: 0;
  }
  .popover-body  ul li a{
  color: white;
  text-decoration: none;
  margin-top: 5px;
  }
  .popover-body  ul li a:hover{
  
      color: var(--secondryColor);
  }
  
  .sectionNavBar .mobile-meun{
      position: absolute;
      top: 20px;
      left: 15px;
  }
  
  [dir="rtl"] .sectionNavBar .mobile-meun{
      position: absolute;
      right: unset;
      right: 15px;
  }
  
  .menu-button {
      z-index: 900;
      cursor: pointer;
      transition: 0.9s;
      padding: 4px
    }
    .menu-button-line {
      height: 5px;
      width: 40px;
      margin-bottom: 5px;
      background: white;
      transition: 0.9s;
    }
  
  
  /*menu get crossed when clicked*/

  .menu-button.close {
    /*   transform: rotate(180deg);*/
       transition: 0.9s;
     }
     .menu-button.close .menu-button-line:nth-child(1) {
       background: white;
     
       
       transform: rotate(45deg) translate(5px, 3px);
       transition: 1.2s;
     }
     .menu-button.close .menu-button-line:nth-child(2) {
       opacity: 0;
     }
     .menu-button.close .menu-button-line:nth-child(3) {
       background: var(--secondryColor);
       transform: rotate(-45deg) translate(8px, -6px);
       transition: 1.2s;
     }
   
     /*===menuMobile===*/
   
     /*==nav part==*/
   
     .menu-nav {
         position: fixed;
         z-index: 999;
       margin: 0;
       padding: 0;
     height: 100%;
     width: 100%;
       background: var(--primaryColor);
   
       overflow: scroll;
   
       list-style: none;
       transform: translate3d(0,-300%, 0);
       transition: 1.2s;
     }
     .menu-nav.show {
       transform: translate3d(0, 0, 0);
       
     }
   
     .menu-nav ul{
         list-style-type: none;
         padding: 0;
       }
   
     .menu-nav ul li{
       background:transparent;
       background: var(--primaryColor);
   
         width: auto;
         text-align: center;
         padding: 20px;
     }
     .menu-nav ul li a{
         color: white;
         text-decoration: none;
         transition: color 1s;
     }
     .menu-nav ul li a:hover{
       color: var(--secondryColor);
   }
   
   
     @media (min-width: 0px) { 
      
       .rightsidemenu{
           display: none;
       }
       .rightsidemenumobile{
           display: block;
       }
     
   }
   
   /* Large devices (desktops, 992px and up)*/
   @media (min-width: 992px) { 
       .rightsidemenu{
           display: block;
       }
       .rightsidemenumobile{
           display: none;
       }
       .menu{
           display: none;
        }
    }
     
  /* End Navbar Styles ******************************************************************************/


  /* LoadingScreen Styles **********************************************************************************/

html, body, .loader-container {
    margin: 0;
  }
  
  .loader-container {
    position: relative;
    background-color: var(--primaryColor);
    height: 100vh;
    width: 100vw;
  
  }
  
  .structure, .smoke {
    position: absolute;
    z-index: 1000;
    top: calc(50% - 65px);
    left: calc(50% - 100px);
    width: 200px;
    height: 130px;
  }
  
  .smoke {
    z-index: 999;
  }
  
  .structure {
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    animation: shake 0.42s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  }
  
  .text-container {
    position: absolute;
    top: calc(50% + 100px);
    left: calc(50% - 100px);
    width: 180px;
    z-index: 1000;
  }
  .text-container h2{
    width: 100%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 999;
    color: white;
    font-family: myFontsExtraBold;
  }
  
  #rocket-svg {
    position: absolute;
    top: -112px;
    transform: rotate(90deg);
    width: 150px;
  }
  
  #right-wing, #left-wing, #nose, #window-stroke, #middle-wing {
    fill: var(--secondryColor);
  }
  
  #rocket-main-part {
    fill: var(--thirdColor);
  }
  
  #window-inner {
    fill: #212526;
  }
  
  .smoke span {
    position: absolute;
    width: 50px;
    border-bottom: 2px solid #fff;
  }
  
  .meteors-container {
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    overflow: hidden;background-color:  var(--primaryColor);
  }
  
  .meteors-container span {
    position: absolute;
    width: 75px;
    border-bottom: 2px solid #fff;
  }
  
  .smoke span:nth-child(1) {
    top: 28px;
    left: -50px;
    box-shadow: 0px 0px 5px #fff;
    animation: smokeAnim-0 ease-out 0.55s infinite;
  }
  
  @keyframes smokeAnim-0 {
    from {
      left: -50px;
      opacity: 1;
    }
    to {
      left: -146px;
      opacity: 0;
    }
  }
  .smoke span:nth-child(2) {
    top: 36px;
    left: -50px;
    box-shadow: 0px 0px 5px #fff;
    animation: smokeAnim-1 ease-out 0.25s infinite;
  }
  
  @keyframes smokeAnim-1 {
    from {
      left: -50px;
      opacity: 1;
    }
    to {
      left: -244px;
      opacity: 0;
    }
  }
  .smoke span:nth-child(3) {
    top: 44px;
    left: -50px;
    box-shadow: 0px 0px 5px #fff;
    animation: smokeAnim-2 ease-out 0.35s infinite;
  }
  
  @keyframes smokeAnim-2 {
    from {
      left: -50px;
      opacity: 1;
    }
    to {
      left: -63px;
      opacity: 0;
    }
  }
  .smoke span:nth-child(4) {
    top: 52px;
    left: -50px;
    box-shadow: 0px 0px 5px #fff;
    animation: smokeAnim-3 ease-out 0.55s infinite;
  }
  
  @keyframes smokeAnim-3 {
    from {
      left: -50px;
      opacity: 1;
    }
    to {
      left: -215px;
      opacity: 0;
    }
  }
  .smoke span:nth-child(5) {
    top: 60px;
    left: -50px;
    box-shadow: 0px 0px 5px #fff;
    animation: smokeAnim-4 ease-out 0.35s infinite;
  }
  
  @keyframes smokeAnim-4 {
    from {
      left: -50px;
      opacity: 1;
    }
    to {
      left: -246px;
      opacity: 0;
    }
  }
  .smoke span:nth-child(6) {
    top: 68px;
    left: -50px;
    box-shadow: 0px 0px 5px #fff;
    animation: smokeAnim-5 ease-out 0.65s infinite;
  }
  
  @keyframes smokeAnim-5 {
    from {
      left: -50px;
      opacity: 1;
    }
    to {
      left: -200px;
      opacity: 0;
    }
  }
  .smoke span:nth-child(7) {
    top: 76px;
    left: -50px;
    box-shadow: 0px 0px 5px #fff;
    animation: smokeAnim-6 ease-out 0.5s infinite;
  }
  
  @keyframes smokeAnim-6 {
    from {
      left: -50px;
      opacity: 1;
    }
    to {
      left: -99px;
      opacity: 0;
    }
  }
  .smoke span:nth-child(8) {
    top: 84px;
    left: -50px;
    box-shadow: 0px 0px 5px #fff;
    animation: smokeAnim-7 ease-out 0.45s infinite;
  }
  
  @keyframes smokeAnim-7 {
    from {
      left: -50px;
      opacity: 1;
    }
    to {
      left: -196px;
      opacity: 0;
    }
  }
  .smoke span:nth-child(9) {
    top: 92px;
    left: -50px;
    box-shadow: 0px 0px 5px #fff;
    animation: smokeAnim-8 ease-out 0.5s infinite;
  }
  
  @keyframes smokeAnim-8 {
    from {
      left: -50px;
      opacity: 1;
    }
    to {
      left: -53px;
      opacity: 0;
    }
  }
  .smoke span:nth-child(10) {
    top: 100px;
    left: -50px;
    box-shadow: 0px 0px 5px #fff;
    animation: smokeAnim-9 ease-out 0.45s infinite;
  }
  
  @keyframes smokeAnim-9 {
    from {
      left: -50px;
      opacity: 1;
    }
    to {
      left: -147px;
      opacity: 0;
    }
  }
  .meteors-container span:nth-child(1) {
    top: 16.6666666667%;
    left: 100%;
    box-shadow: 0px 0px 5px #fff;
    animation: meterosAnim-0 linear 0.3s infinite;
  }
  
  @keyframes meterosAnim-0 {
    0% {
      left: 100%;
    }
    75% {
      left: calc(0% - 75px);
    }
    100% {
      left: calc(0% - 75px);
    }
  }
  .meteors-container span:nth-child(2) {
    top: 33.3333333333%;
    left: 100%;
    box-shadow: 0px 0px 5px #fff;
    animation: meterosAnim-1 linear 0.65s infinite;
  }
  
  @keyframes meterosAnim-1 {
    0% {
      left: 100%;
    }
    75% {
      left: calc(0% - 75px);
    }
    100% {
      left: calc(0% - 75px);
    }
  }
  .meteors-container span:nth-child(3) {
    top: 50%;
    left: 100%;
    box-shadow: 0px 0px 5px #fff;
    animation: meterosAnim-2 linear 0.7s infinite;
  }
  
  @keyframes meterosAnim-2 {
    0% {
      left: 100%;
    }
    75% {
      left: calc(0% - 75px);
    }
    100% {
      left: calc(0% - 75px);
    }
  }
  .meteors-container span:nth-child(4) {
    top: 66.6666666667%;
    left: 100%;
    box-shadow: 0px 0px 5px #fff;
    animation: meterosAnim-3 linear 0.35s infinite;
  }
  
  @keyframes meterosAnim-3 {
    0% {
      left: 100%;
    }
    75% {
      left: calc(0% - 75px);
    }
    100% {
      left: calc(0% - 75px);
    }
  }
  .meteors-container span:nth-child(5) {
    top: 83.3333333333%;
    left: 100%;
    box-shadow: 0px 0px 5px #fff;
    animation: meterosAnim-4 linear 0.3s infinite;
  }
  
  @keyframes meterosAnim-4 {
    0% {
      left: 100%;
    }
    75% {
      left: calc(0% - 75px);
    }
    100% {
      left: calc(0% - 75px);
    }
  }
  .meteors-container span:nth-child(6) {
    top: 100%;
    left: 100%;
    box-shadow: 0px 0px 5px #fff;
    animation: meterosAnim-5 linear 0.55s infinite;
  }
  
  @keyframes meterosAnim-5 {
    0% {
      left: 100%;
    }
    75% {
      left: calc(0% - 75px);
    }
    100% {
      left: calc(0% - 75px);
    }
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 1px, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 2px, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-2px, -2px, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 2px, 0);
    }
  }
  
  /* End LoadingScreen Styles ******************************************************************************/
  
  /* Start Footer Styles ******************************************************************************/
.sectionFooter{
    background-color: var(--primaryColor);
    padding:40px 40px;
    overflow: hidden;
}

.sectionFooter .title{
    color: white;
    font-family:myFontsBold ;
    margin-bottom: 5px;
}
.sectionFooter ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;

}
.sectionFooter ul li{
float: left;
margin: 3px;

}
[dir="rtl"] .sectionFooter ul li{
    float: right;
    
    }
.sectionFooter ul li img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.sectionFooter .links ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;

}

.sectionFooter .links ul li{
float: none;
margin: 10px;
}

.sectionFooter .links ul li a{
color: white;
}


@media(min-width: 0px) and (max-width: 991px){ 

    .sectionFooter{

        padding-right: 10px;

    }
    .sectionFooter .links{
        margin-top: 40px;
    }
        
  
}
/* End Footer Styles ******************************************************************************/