.sectionOurOffers .title{
    padding: 50px;
    text-align: center;
    color: var(--primaryColor);
}

.sectionOurOffers{
    text-align: center;
    margin: 20px;
}
.sectionOurOffers .item{
    background-color: var(--primaryColor);
    height: 400px;
    max-width: 250px;
    padding-top: 40px;
    border-radius: 5px;

}

.sectionOurOffers .item .image{
    width: 100px;
    height: 100px;
    margin: auto;
}

.sectionOurOffers .item .image img{
    height: 100px;

    border-radius: 50px;
}

.sectionOurOffers .item .price{
    padding: 10px;
    text-align: center;
    color: white;
    font-family:myFontsBold ;
}

.sectionOurOffers .item .desc{
    padding: 10px;
    text-align: center;
    color: white;
}
.sectionOurOffers .item .btn{
    margin: auto;
    margin-top: 25px;
}

