

/* Slider Styles **********************************************************************************/

.sectionSlider{
 /*   padding-top: 30px;*/
   padding-bottom: 60px;
position: relative;
}

.sectionSlider .img  img{
height: 500px;
width:  100%;
}
.sectionSlider .slidercontent{
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 10px;
}
[dir="rtl"] .sectionSlider .slidercontent{
    padding-right: 100px;
    padding-top: 50px;
}


.sectionSlider .slidercontent .title{
    font-family: myFontsBold;
    color: var(--primaryColor);
    text-shadow: 2px 2px 55px black;

}
.sectionSlider .slidercontent .content{
    color: var(--secondryColor);
    margin-bottom: 25px;
}

.sectionSlider .controls{
    position: absolute;
    bottom: 20px;
width: 100%;
display: flex;
justify-content: center;
padding-top: 10px;
}
[dir="rtl"] .sectionSlider .controls{
direction: ltr;
}
.sectionSlider .controls .next,.sectionSlider .controls .prev{
display: inline-block;
width: 50px;
height: 50px;
text-align: center;
background-color:  var(--thirdColor);
border-radius: 100px;
margin: 5px;
transition: background-color 1s;
}
.sectionSlider .controls .next:hover,.sectionSlider .controls .prev:hover{
    background-color:  var(--primaryColor);
    
    }

.sectionSlider .controls i{
    color: white;
    margin-top: 10px;
    font-size: 30px;
}

@media(min-width: 0px) and (max-width: 991px){ 

   
    .sectionSlider .slidercontent{
        padding-left: 5px;
        padding-top: 10px;
    }

    [dir="rtl"] .sectionSlider .slidercontent{
        padding-right: 15px;
        padding-top: 10px;
    }
    
    .sectionSlider .img  img{
        height: 300px;
        width:  100%;
        margin-bottom: 20px;
        margin-top: 5px;
        }
        
  
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .rightsidemenu{
        display: block;
    }
    .rightsidemenumobile{
        display: none;
    }
    .menu{
        display: none;
     }
 }

/* End Slider Styles ******************************************************************************/

/* Start OurMessage Styles ******************************************************************************/

.sectionOurmessage{
background-color:  var(--primaryColor);
}
.sectionOurmessage .desc{
    padding-left: 100px;
    padding-right: 20px;

    padding-top: 50px;

}
[dir="rtl"] .sectionOurmessage .desc{
    padding-left: 20px;

    padding-right: 100px;
    padding-top: 50px;
}
.sectionOurmessage .desc .title{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;

    font-family: myFontsExtraBold;
    color: white;
}

.sectionOurmessage .desc .content{
    text-align: center;
    color: white;
    font-family: myFontsBold;
    padding: 15px;
    padding-bottom: 50px;
}

.sectionOurmessage .image img{
    width: 100%;
    height: 500px;
}


@media(min-width: 0px) and (max-width: 991px){ 

[dir="rtl"] .sectionOurmessage .desc{

    padding: 0px;    

    }
    
  
        
  
}
/* End OurMessage Styles ******************************************************************************/



/* Start OurOffers Styles ******************************************************************************/

.sectionOurOffers .title{
    padding: 50px;
    text-align: center;
    color: var(--primaryColor);
}

.sectionOurOffers{
    text-align: center;
}
.sectionOurOffers .item{
    background-color: var(--primaryColor);
    height: 400px;
    max-width: 250px;
    padding-top: 40px;
    border-radius: 5px;

}

.sectionOurOffers .item .image{
    width: 100px;
    height: 100px;
    margin: auto;
}

.sectionOurOffers .item .image img{
    height: 100px;

    border-radius: 50px;
}

.sectionOurOffers .item .price{
    padding: 10px;
    text-align: center;
    color: white;
    font-family:myFontsBold ;
}

.sectionOurOffers .item .desc{
    padding: 10px;
    text-align: center;
    color: white;
}
.sectionOurOffers .item .btn{
    margin: auto;
    margin-top: 25px;
}



@media(min-width: 0px) and (max-width: 991px){ 

    .sectionOurOffers .item{
        background-color: var(--primaryColor);
        height: 350px;
        max-width: 380px;
    }
    
  
        
  
}

/* End OurOffers Styles ******************************************************************************/

